@import url("./reset.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.clear,
.clear:before,
.clear:after {
  content: "";
  display: table;
  clear: both;
}
.all {
  width: 90%;
  margin: auto;
}
img {
  width: 100%;
  height: auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
p,
a {
  font-size: 20px;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 35px;
  font-weight: bold;
}
h4 {
  font-size: 25px;
  font-weight: bold;
}
h5 {
  font-size: 20px;
  font-weight: bold;
}
.header {
  max-width: 100%;
  .header-top {
    width: 100%;
    height: 5px;
    z-index: 999;
    background-color: #fff;
    cursor: pointer;
    color: #787878;
    li.item:not(:first-child) {
      border-left: 1px solid #e2e2e2;
    }
    .header-logo {
      float: left;
      padding: 30px;
    }
    .header-hamburger {
      display: none;
      padding: 20px;
      @media (max-width: 500px) {
        display: block;
        float: right;
      }
      .bar1,
      .bar2,
      .bar3 {
        width: 35px;
        height: 5px;
        background-color: #000;
        margin: 5px;
      }
    }
    .header-menu {
      float: left;
      border: none !important;
      @media (max-width: 500px) {
        display: none;
        ul {
          display: block !important;
          position: absolute;
          z-index: 999;
          top: 80px;
          background-color: #f2f2f2;
          right:0;
          width:50%;
          margin-right: 35px;
          &:before {
            float:right;
            margin-top:-10px;
            content: "";
            border-bottom: 10px solid rgb(100, 223, 216);
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
          }
          li {
            text-align:center!important;
            margin:0!important;
            line-height:50px!important;
            &:first-child{
              border-top:5px solid rgb(100, 223, 216);
            }
            &:hover{
              background-color: rgb(100, 223, 216)
            }
          }
        }
      }
      ul {
        display: flex;
        li {
          line-height: 80px;
          margin: 0px 20px;
          a {
            color: #787878;
          }
          &:hover a {
            color: red;
          }
        }
      }
    }
    .header-input {
      padding: 35px 30px;
      float: right;
      // @media (max-width:1024px){
      //   float: none;
      //   text-align: center;
      // }
      @media (max-width: 768px) {
        display: none;
      }
      input {
        border: none;
        outline: none;
      }
    }
    .header-icon {
      float: right;
      @media (max-width: 1024px) {
        display: none;
      }
      i {
        position: relative;
        padding:30px;
        font-size: 25px;
        span.cart-item {
          color: red;
          position: absolute;
          top: 20px;
          font-size: 18px;
          font-weight: bold;
        }
      }
      i:not(:last-child) {
        border-right: 1px solid #e2e2e2;
      }
      i:first-child:hover {
        color: red;
      }
      i:nth-child(2):hover {
        color: green;
      }
      i:last-child:hover {
        color: orange;
      }
    }
  }
}
.header-background {
  max-width: 100%;
  position: relative;
  height: 90vh;
  background: url("../img/bg-img/bg-1.jpg") no-repeat center center;
  background-size: cover;
  @media (max-width: 1024px) {
    min-height: 70vh;
  }
  @media (max-width: 768px) {
    min-height: 50vh;
  }
  .header-background-content {
    padding-left: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    @media (max-width: 1024px) {
      padding-left: 20px;
    }
    h2 {
      padding: 20px 0px 50px 0px;
    }
    .btn {
      font-weight: bold;
      text-transform: uppercase;
      padding: 20px 50px;
      background-color: #0315ff;
      color: #fff;
      border: none;
      cursor: pointer;
      transition: 1s ease;
      &:hover {
        background-color: red;
      }
      &:focus {
        border: 3px solid blue;
      }
    }
  }
}
.fashion {
  overflow: hidden;
  margin: 50px 1px;
  .fashion-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .fashion-item {
      transition: 500ms ease;
      margin: 50px 10px;
      padding: 80px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      position: relative;
      cursor: pointer;
      &:hover {
        color: blue;
      }
      h1 {
        text-align: center;
      }
    }
    .bg-1 {
      background-image: linear-gradient(
          rgba(255, 255, 255, 0.4),
          rgba(255, 255, 255, 0.4)
        ),
        url("../img/bg-img/bg-2.jpg");
    }
    .bg-2 {
      background-image: linear-gradient(
          rgba(255, 255, 255, 0.4),
          rgba(255, 255, 255, 0.4)
        ),
        url("../img/bg-img/bg-3.jpg");
    }
    .bg-3 {
      background-image: linear-gradient(
          rgba(255, 255, 255, 0.4),
          rgba(255, 255, 255, 0.4)
        ),
        url("../img/bg-img/bg-4.jpg");
    }
  }
}
.sale {
  .sale-items {
    background: url("../img/bg-img/bg-5.jpg") no-repeat center center;
    background-size: cover;
    height: auto;
    padding: 50px;
    .sale-items-content {
      padding-left: 100px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        padding: 30px;
      }
    }
  }
}
.products {
  margin: 100px 0px;
  h1 {
    text-align: center;
  }
  .product-content {
    padding: 50px 0px;
    .product-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .product-list-item {
        padding: 0px 20px;
        img {
          width: 250px;
          height: 350px;
        }
        @media (max-width: 768px) {
          width: 50%;
          padding: 50px 20px;
          img {
            width: 100%;
            height: auto;
          }
        }
        @media (max-width: 500px) {
          width: 100%;
        }
      }
    }
  }
}
.brand {
  background-color: #f5f7f9;
  .brand-content {
    padding: 80px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 768px) {
      justify-content: center;
    }
    .brand-item {
      margin: 20px;
      width: 100px;
      height: 20px;
    }
  }
}
.footer {
  color: rgba(255, 255, 255, 0.6);
  background-color: #252525;
  .footer-content {
    .footer-content-top {
      display: flex;
      flex-wrap: wrap;
      padding: 50px 0px;
      .footer-content-top-1 {
        width: 50%;
        @media (max-width: 768px) {
          width: 100%;
        }
        * {
          display: inline-block;
        }
        h4 {
          padding-right: 20px;
          color: #fff;
        }
        p {
          padding: 4px 5px;
        }
      }
      .footer-content-top-2 {
        display: flex;
        .footer-content-top-2-item:first-child {
          padding-right: 50px;
        }
        @media (max-width: 768px) {
          padding: 30px 0px;
        }
      }
    }
    h5 {
      padding: 30px 0px;
      color: #fff;
    }
    .footer-content-bot {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      .footer-content-bot-1 {
        width: 50%;
        input {
          width: 50%;
          border-bottom: 1px solid #fff !important;
          color: #fff;
          padding: 5px 0px;
          border: none;
          outline: none;
          background-color: #252525;
        }
        @media (max-width: 375px) {
          input[type='text']{
            width: 80%;
          }
        }
      }
      .footer-content-bot-2 {
        i {
          padding: 0px 10px;
          color: #fff;
          cursor: pointer;
        }
        @media (max-width: 375px) {
          padding: 30px 0px;
        }
      }
    }
  }
  .copy {
    text-align: center;
    padding: 80px 0px;
  }
}

.background-blogPage {
  background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url("../img/bg-img/breadcumb2.jpg") no-repeat center center;
  background-size: cover;
  height: 70vh;
  .bg-blogPage-content {
    text-align: center;
    padding-top: 30vh;
  }
}
